.explore-foods {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .explore-foods h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .categories {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .category {
    text-align: center;
  }
  
  .category img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .category h3 {
    margin-top: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    .categories {
      flex-direction: column;
    }
  
    .category img {
      width: 100%;
      height: auto;
    }
  }