.search-bar {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  background-image: url('./src/assets/bg.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 8px; 
}

.search-bar input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  padding: 10px;
  border: none;
  background-color: red;
  color: #fff;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.search-bar button:hover {
  background-color: brown;
}

@media only screen and (max-width: 600px) {
  .search-bar {
    height: 50%;
    flex-direction: column;
  }

  .search-bar input,
  .search-bar button {
    width: 100%;
    margin: 5px 0;
  }
}